[Unit]
Description=AWE worker 
After=docker.service
Requires=docker.service

[Service]
# service name:   awe-client
# image name:     skyport/awe-client-minimal
# container name: awe-client

TimeoutStartSec=0
EnvironmentFile=-/etc/environment
Environment='DATADIR=/media/ephemeral/awe-client'

ExecStartPre=-/usr/bin/docker kill awe-client
ExecStartPre=-/usr/bin/docker rm awe-client
ExecStartPre=/home/core/skycore pull --tag=latest etcd:awe-client
ExecStartPre=mkdir -p /media/ephemeral/awe-client/

ExecStart=/usr/bin/docker run --rm --name awe-client -v /var/run/docker.sock:/var/run/docker.sock -v ${DATADIR}:${DATADIR}  skyport/awe-client-minimal:latest /usr/local/bin/awe-client --data=${DATADIR}/data --logs=${DATADIR}/logs --workpath=${DATADIR}/work --debuglevel 2 --serverurl=http://10.1.12.29:8001 --group=docker --supported_apps=* --auto_clean_dir=false 

#2> /mnt/data/awe/logs/stderr.log 1> /mnt/data/awe/logs/stdout.log

ExecStop=-/usr/bin/docker stop awe-client

[X-Fleet]
Conflicts=awe-client@*.service
