[Unit]
Description=AWE server
After=awe-server-mongodb@%i.service
Requires=awe-server-mongodb@%i.service

[Service]
Environment='CONTAINER=awe-server-%i'
Environment='IMAGE=skyport/awe-server-minimal'
Environment='SERVICE=awe-server'


TimeoutStartSec=0
Restart=always
EnvironmentFile=-/etc/environment
Environment='TITLE=Fleet powered AWE server'

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/home/core/skycore pull --tag=latest etcd:awe-server
ExecStartPre=/usr/bin/mkdir -p /media/ephemeral/awe-server-%i/
ExecStartPre=/usr/bin/curl -o /media/ephemeral/awe-server-%i/awe-server.cfg https://raw.githubusercontent.com/wgerlach/AWE_develop/master/awe-server.cfg 


# use -p ${COREOS_PRIVATE_IPV4}:80:80 instead of -p 80:80 ???
ExecStart=/usr/bin/docker run --rm --name awe-server-%i -p 80:80 -p 8001:8001 -v /media/ephemeral/awe-server-%i/awe-server.cfg:/awe-config/awe-server.cfg -v /media/ephemeral/awe-server-%i/data/:/mnt/data/awe/  --link=awe-server-mongodb:mongodb  skyport/awe-server-minimal:latest /usr/local/bin/awe-server --hosts=mongodb  --debuglevel=1 --conf=/awe-config/awe-server.cfg  --use_app_defs=yes --site-port=80 --api-port=8001 --api-url=http://${COREOS_PUBLIC_IPV4}:8001 --site-url=http://${COREOS_PUBLIC_IPV4}:80 --title=${TITLE}
ExecStop=-/usr/bin/docker stop awe-server-%i

[X-Fleet]
MachineOf=awe-server-mongodb@%i.service