[Unit]
Description=MongoDB for AWE server (instance: %i)
After=docker.service
Requires=docker.service

[Service]

TimeoutStartSec=0
EnvironmentFile=-/etc/environment

ExecStartPre=-/usr/bin/docker kill awe-server-mongodb
ExecStartPre=-/usr/bin/docker rm awe-server-mongodb

ExecStartPre=/home/core/skycore pull --tag=latest etcd:awe-server-mongodb

ExecStart=/usr/bin/docker run --rm --name awe-server-mongodb -v /media/ephemeral/awe-server-%i/mongodb/:/data/db --expose=27017 skyport/mongodb:2.4.9 /usr/bin/mongod

ExecStop=-/usr/bin/docker stop awe-server-mongodb

[X-Fleet]
MachineID=98a7049e775d44d0bfd78fc3305d4bc3
