I
Description=AWE server (awe-server and mongo db run in their own containers)
After=docker.service
Requires=docker.service

[Service]
# service name:   awe-server
# image name:     skyport/awe-server-minimal
# container name: awe-server

TimeoutStartSec=0
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill awe-server
ExecStartPre=-/usr/bin/docker rm awe-server
ExecStartPre=-/usr/bin/docker kill awe-server-mongodb
ExecStartPre=-/usr/bin/docker rm awe-server-mongodb
ExecStartPre=/home/core/skycore pull --tag=latest etcd:awe-server
ExecStartPre=/usr/bin/docker run -d --name awe-server-mongodb -v /media/ephemeral/awe-server/mongodb/:/data/db --expose=27017 dockerfile/mongodb 

ExecStartPre=mkdir -p /media/ephemeral/awe-server/ && /usr/bin/curl "https://raw.githubusercontent.com/wgerlach/AWE_develop/master/awe-server.cfg" > /media/ephemeral/awe-server/awe-server.cfg

ExecStartPre=/usr/bin/sleep 10

# use -p ${COREOS_PRIVATE_IPV4}:80:80 instead of -p 80:80 ???
ExecStart=/usr/bin/docker run --rm --name awe-server -p 80:80 -p 8001:8001 -v /media/ephemeral/awe-server/awe-server.cfg:/awe-config/awe-server.cfg -v /media/ephemeral/awe-server/data/:/mnt/data/awe/  --link=awe-server-mongodb:mongodb  skyport/awe-server-minimal:latest /usr/local/bin/awe-server --title="Fleet powered AWE server" --debuglevel=1 -conf /awe-config/awe-server.cfg --hosts=mongodb --use_app_defs=yes --site-port=80 --api-port=8001 --api-url=http://${COREOS_PUBLIC_IPV4}:8001 --site-url=http://${COREOS_PUBLIC_IPV4}:80
ExecStop=/usr/bin/docker stop awe-server
ExecStop=/usr/bin/docker stop awe-server-mongodb

[X-Fleet]
#Conflicts=awe-server@*.service
# MachineID is only used for developing, will be removed later
MachineID=1dc3558aa345483292f2f858de0e23e1