[Unit]
Description=MongoDB for AWE server (instance: %i)
After=docker.service
Requires=docker.service

[Service]

TimeoutStartSec=0
EnvironmentFile=-/etc/environment

ExecStartPre=-/usr/bin/docker kill awe-server-mongodb
ExecStartPre=-/usr/bin/docker rm awe-server-mongodb

ExecStart=/usr/bin/docker run --rm --name awe-server-mongodb -v /media/ephemeral/awe-server-%i/mongodb/:/data/db --expose=27017 dockerfile/mongodb 

ExecStop=-/usr/bin/docker stop awe-server-mongodb

[X-Fleet]
MachineID=1dc3558aa345483292f2f858de0e23e1
