[Unit]
Description=mg-rast-v4-web discovery
BindsTo=mg-rast-v4-web@%i.service
After=mg-rast-v4-web@%i.service


[Service]
Environment='CONTAINER=mg-rast-v4-web-%i'
Environment='IMAGE=mgrast/v4-web'
Environment='SERVICE=mg-rast-v4-web'


EnvironmentFile=-/etc/environment
ExecStartPre=/bin/sh -c "while [ $(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' ) == \"\" ]; do echo \"no port\" ; sleep 0.1; done ; echo \"port found\""
ExecStart=/bin/sh -c "export port=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${CONTAINER}); while true; do etcdctl set /services/${SERVICE}/${SERVICE}@%i \'{ \"host\":\"%H\",\"port\": \"\${port}\",\"COREOS_PRIVATE_IPV4\":\"${COREOS_PRIVATE_IPV4}\",\"COREOS_PUBLIC_IPV4\":\"${COREOS_PUBLIC_IPV4}\"}\' --ttl 60 ; sleep 45 ; done"
ExecStop=/usr/bin/etcdctl rm /services/${SERVICE}/${SERVICE}@%i

[X-Fleet]
MachineOf=mg-rast-v4-web@%i.service