[Unit]
Description=MG-RAST Nginx
After=docker.service
Requires=docker.service

[Service]
Environment='CONTAINER=mg-rast-nginx'
Environment='IMAGE=mgrast/nginx'
Environment='SERVICE=mg-rast-nginx'

EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

 
ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p ${COREOS_PUBLIC_IPV4}:80:80 ${IMAGE}:latest bash -c "cd /Skycore && git pull && /Skycore/services/nginx/confd/run_confd.sh"
#ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p ${COREOS_PUBLIC_IPV4}:80:80 ${IMAGE}:latest /Skycore/services/nginx/confd/run_confd.sh


ExecStop=/usr/bin/docker stop ${CONTAINER}

#[X-Fleet]
#Conflicts=mg-rast-nginx@*.service
