[Unit]
Description=MG-RAST Nginx
After=docker.service
Requires=docker.service

[Service]
# service name:   mg-rast-nginx
# image name:     mgrast/nginx
# container name: mg-rast-nginx

TimeoutStartSec=0
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill mg-rast-nginx
ExecStartPre=-/usr/bin/docker rm mg-rast-nginx
ExecStartPre=/home/core/skycore pull --tag=latest etcd:mg-rast-nginx

ExecStart=/usr/bin/docker run --rm --name mg-rast-nginx -p ${COREOS_PUBLIC_IPV4}:80:80 mgrast/nginx:latest bash -c "cd /Skycore && git pull && /Skycore/services/nginx/confd/run_confd.sh"

ExecStop=/usr/bin/docker stop mg-rast-nginx

#[X-Fleet]
#Conflicts=mg-rast-nginx@*.service
